node_modules/
test_change/
pnpm-lock.ymal
package-lock.json
pnpm-workspace.yaml
bun.lock
# # schema
# # .env
run php,express
.thorclient
# # مسح الكاش عشان ميهنجش من ملف مش عايزة يترفع
# # git add .git rm -rf --cached .
# # 
pnpm-lock.yaml
pnpm-workspace.yaml